/*Hides the spinner arrows from the textboxes*/

input[type=number]::-webkit-innerspinbutton, input[type=number]::-webkit-outer-spin-buttno {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	text-align: center;
}

input[type=number] {
	-moz-appearance: textfield;
	text-align: center;
}

/*navbar stuff*/
ul.navBar {
	/*Flexbox stuff*/
	display: flex;
	justify-content: space-around;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0B2E3C;
	box-shadow: 0px 5px 5px darkslategray;
	z-index: 3;
}
ul.navBar li {
	float: left;
	font-size: min(2.5vw, 40px);
	
}

ul.navBar li a {
	display: block;
	text-align: center;
	padding: 1vw 1vw;
	text-decoration: none;
	color: #558C55;
}

ul.navBar li a:hover {
	color: black;
	background-color: #D8FFD8;
}

/*more styling things unrelated to the navbar*/
body {
	  background-color: Darkseagreen;
}

* {
	text-align: center;
	font-family: sans-serif;
}
h1 {
	font-size: min(3.5vw, 45px);
}
p {
	font-size: min(3vw, 40px);
}

input {
	font-size: min(3vw, 40px);
}

/*Responsive Web Design Stuff*/
.row {
	margin: 10px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.c-1 {
	width: 25%;
	float: left;
}

.c-2 {
	width: 50%;
	float: inline-start;
}

.c-3 {
	width: 25%;
	float: right;
}