/*These are constants that are true no matter the screen size*/

@keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1;}
}


* {
	font-family: 'Montserrat Alternates';
	cursor: url('https://contacts.rruiz.dev/CustomCursor.png'), default;
}

html{
	background: #204e74;
	min-height: 100vh;
}

hr {
	opacity: 50%;
	width: 80%;
	color: lightsteelblue;
}


p, h1, h2 {
	text-align: center;
}

p {
	font-size: 1.75vw;
}

h1 {
	font-variant: small-caps;
	font-size: 4vw;
}

button {
	border: none;
	background-color: aliceblue;
	font-size: 1.75vw;
	border: solid 2px grey;
	width: 20%;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
}

button:hover {
	background-color: #8CADDE;
	cursor: pointer;
}

input {
	font-family: Nunito Sans;
	background-color: aliceblue;
	border: solid 2px grey;
	font-size: 1.75vw;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
}

table {
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	font-size: 1vw;
}

th {
	background-color: lightgray;
	text-align: center;
}
td {
	border: 1px solid black;
	text-align: center;
}

tr:nth-child(even){
	background-color: white
}

.box {
	animation-name: fadeIn;
	animation-duration: 2s;
	border: solid 2px rgba(0,0,0,1);
	border-radius: 10px;
	border-style: solid;
	border-color: gray;
	background-color: rgb(240, 240, 240);

	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.box2 {
	animation-name: fadeIn;
	animation-duration: 2s;
	border: solid 2px;
	border-radius: 10px;
	border-style: solid;
	border-color: white;
	background-color: honeydew; azure; /*#B4CAD3;*/
	box-shadow: 0px 3px 10px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.table {
	overflow-x: auto;
	overflow-y: auto;
}

.thinnerInput {
	width: 45%;
}

/*Responsive Web Design Stuff*/
.row {
	margin: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.col-1 {width: 25%;}
.col-2 {width: 50%;}

.modal{
	animation-name: fadeIn;
	animation-duration: 1s;
	background-color: rgba(0,0,0,0.6); /*change the last value to change the dimness; from 0-9*/
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#mask{
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.modal-content{
	position: relative;
	margin: auto;
	width: 50%;
	background-color: white;
	padding: 20px;
	border-radius: 25px;
	text-align: center;
	display: block;
	border:2px outset black;
	top:200px; /* change this value to change position of the modal box*/
}

.modal-button{
	float: right;
	color: gray;
	font-weight: bold;
	font-size: 8vw;
	cursor: pointer;
	background-color: none;
	padding-left: 4px;
	padding-right: 4px;
}

.modal input{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.modal label{
	font-size: max(17px, 1vw);
}

.modal-button:hover{
	color: black;
}

.blur{
	filter: blur(20px);
	user-select: none;
}

.hamburger {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger #myLinks {
  display: none;
}

.hamburger button{
/*Change button stuff here */
}


@media only screen and (max-width: 700px)
{
	[class*="col-"] {
		width: 100%;
	}

	.box {
		width: 75%;
	}
	
	.modal button{
		font-size: 4.25vw;
	}

	.thinnerInput {
		width: 50%;
	}

	th, td {
		font-size: 1.75vw;
	}

	p {
		font-size: 5vw;
	}

	h1 {
		font-size: 7vw;
	}

	button {
		font-size: 4.25vw;
		width: 50%;
		margin-left: 5px;
		margin-right: 5px;
		text-align: center;
	}

	input {
		font-size: 5vw;
	}
	

}
