@keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1;}
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

html{
	background: linear-gradient(135deg, black 30%, white 50%, black 70%);
}

p, h1 {
	text-align: center;
}

h1 {
	font-variant: small-caps;
	font-size: 4vw;
}

button {
	border: none;
	background-color: lightgrey;
	font-size: 1.75vw;
	border: solid 2px rgba(0,0,0,0.5);

}

button:hover {
	background-color: gray;
	border: solid 2px black;
	cursor: pointer;
}

input {
	background-color: lightgrey;
	border: solid 2px rgba(0,0,0,0.5);
	font-size: 1.75vw;
}


.box {
	animation-name: fadeIn;
	animation-duration: 2s;
	border-style: solid;
	border-color: white;
	background-color: #B79A62;
	box-shadow: 0px 3px 10px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}


/*Responsive Web Design Stuff*/
.row {
	margin: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

img {
	height: auto;
	border-radius: 25%;
	display: block;
	margin-left: 35%;
	margin-right: 50%;
  }
